@import url('https://fonts.googleapis.com/css2?family=Honk:MORF,SHLN@7,23.8&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

#headerRPS {
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 85px;
    font-variation-settings:
        "MORF" 7,
        "SHLN" 23.8;
}

#scoreBoard {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#scoreBoard h1 {
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
}

#selectedPick button {
    margin-top: 50px;
    padding: 10px 35px;
    width: 150px;
    height: 200px;
    font-size: 15px;
    cursor: pointer;
    color: transparent;
    background-position: center;
    background-color: transparent;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    border: 0px transparent;
    transition: 0.2s;
}

#selectedPick button:hover {
    transform: rotate(45deg);
}

#baseDiv {
    /* background-image: url(../images/rock.png); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15vh;
    height: 250px;
    width: 250px;
}

#baseGame {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#baseGame h1 {
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    font-variation-settings:
        "MORF" 7,
        "SHLN" 23.8;
}